:root{
	--white: #fff;
	--red: #e84545;
	--menuText: #cacad1;
	--purple: #80858b;
	--darkRed: #53354a;
	--footer: #3a3e64;
	--footerb: #313454;
	--footerText: #f2f2f5;
	--icon:#c6cacc;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
  color: var(--menuText);
  text-decoration: none;
}

.flexc{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flexcs{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flexcc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.flexrs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.flexrc{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.default_width {
	margin: 0 auto;
	max-width: 1170px;
}

button{
	border: none;
	max-width: 200px;
	width: 100%;
	height: 47px;
	background: var(--red);
	color: var(--white);
}

header{
	min-height: 750px;
	background: url('img/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

nav{
	z-index: 999999;
	transition: all 0.3s; 
	width: 100%;
	min-height: 100px;
	color: var(--menuText);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	position: fixed;
}

.navigation{
	width: 100%;
}

nav ul {
	width: 100%;
	max-width: 600px;	
}

.opacityMenu{
	background: #292c47;
	min-height: 80px;
}

.head{
	margin-top: 200px;
	min-height: 337px;
	text-align: center;
	max-width: 830px;
}

.head h1{
	font-size: 65px;
	color: var(--white);
}

.head p{
	font-size: 22px;
	color: var(--menuText);
}

.customised{
	min-height: 690px;
}

.customisedHeight > div{
	max-width: 300px;
	min-height: 185px;
	height: 100%;
	text-align: center;
	font-size: 14px;
}

 .customisedHeight{
	max-width: 1083px;
	min-height: 448px;
}



section.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
    min-height: 704px; 

}

.imgBox{
	position: relative;
	margin: auto;
	overflow: hidden;
	height: 352px;
	width: 470px;
	 
}


.imgBox img{
	width: 470px;
	height: 350px;
	overflow: hidden;
	transition: all 0.6s;
}

.overlay{
	top: 0px;
	left: 0px;
	position: absolute;
	width: inherit;
	height: inherit;
	transition: all 0.5s;
}

.imgBox:hover > .overlay{
	z-index: 999;
	background: rgba(200, 100, 100, 0.5);
}

.imgBox:hover > img{
	transform: scale(3);
}

.textBox{
	position: absolute;
	top: 0px;
	left: 0px;
	width: inherit;
	height: inherit;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.textBox p{
	position: relative;
	font-size: 1.3rem;
	color: #fff;
	transition: all 0.7s;
	opacity: 0;
}

.textBox p:first-of-type{
	top: -40px;
}

.textBox p:last-of-type{
	top: 40px;
}

.textBox:hover > p:first-of-type{
	top: 0px;
	opacity: 1;
}

.textBox:hover > p:last-of-type{
	top: 0px;
	opacity: 1;
}

/*-----------------------------*/

section.people{
	min-height: 780px;
}

.peopleSec{
	min-height: 580px;
	width: 1170px;
}

section.people > div{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 270px;
	min-height: 583px;
}

.psocialicon{
	display: flex;
	flex-direction: row;
}

.psocialicon span{
	margin-right: 5px;
}

.girlSec{
	min-height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: var(--darkRed);
}

.girl img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bg{
	min-height: 400px;
	background: var(--darkRed);
	width: 100%;
	max-width: 950px;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.bg div{
	max-width: 500px; 
	width: 100%;
	min-height: 207px;
	padding-left: 80px;
}
.bg p:nth-child(1){
	padding-bottom: 45px;
	color: var(--white);
}

.bg p:nth-child(2){
	font-size: 13px;
	color: var(--white);
}

.ready{
	max-width: 570px;
	min-height: 138px;
}

.readySec{	
	min-height: 340px;
	
}

.footerfirst{
	min-height: 250px;
	background: var(--footer);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 100px;
}

.first{
	max-width: 1070px;
	width: 1018px;
	min-height: 78px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 70px;
}

.first div:nth-child(1){
	max-width: 150px;
	font-size: 14px;
	min-height: 78px;
}

.first div:nth-child(2){
	max-width: 140px;
	min-height: 78px;
	text-align: center;
}

.first div:nth-child(3){
	max-width: 336px;
	min-height: 78px;
	text-align: center;
	font-size: 14px;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin{
	color: var(--icon);
}

.bordericon{
	width: 40px;
	height: 40px;
	border: 1px solid var(--icon);
}

.bordericon:hover{
	background: var(--red);
	border: 1px solid var(--red);
} 

.icon h3{
	padding-bottom: 19px;
}

.footerfirst .first .flexcs h2{
	color: var(--footerText);
}

.footerfirst .first .icon h3{
	color: var(--footerText);
}

.first p{
	color: var(--menuText);
}

.footersec{
	min-height: 92px;
	background: var(--footerb);
}

.footersect{
	text-align: center;
	min-height: 35px;
	max-width: 290px;
	font-size: 14px;
}

.footersect span{
	color: var(--white);
}

.footersec .footersect p{
	color: #808080;
}
/*---------sidebar menu----------------*/

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:999999;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x: hidden;  
}

.side-nav a{
  padding-bottom: 20px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block; 
}

.side-nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.side-nav ul a{
	font-size: 30px;
}

.open-slide{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;	
}

.open-slide img{
	max-width: 195px;
	min-height: 26px;
}

.open-slide .fa-bars{
	background: red;
	color: white;
	border-radius: 50px;
	padding: 10px;
	height: 50px;
	width: 50px;
}
/*----------media-----------------*/

@media(max-width:850px){
	.navbar-nav{
  		display:none
  	}
  	.navigation {
  		display: none;
  	}
 	section.girlSec{
 		margin-top: 40px;
 		display: flex;
 		flex-direction: column;
 	}
 	section.girlSec .girl img{
		width: 100%;
		height: 100%;
 	}
 	.footerfirst {
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 		padding-left: 0px;
 
	}
	.footerfirst .first{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-left: 0px;
	}
	.footerfirst .first > div{
		padding-bottom: 30px;
	}
	section.readySec .ready {
		text-align: center;
	}
}

@media(min-width:850px){
  	.open-slide{
  		display:none
  	}
}

@media(max-width:690px){
 	.customisedHeight{
 		display: flex;
 		flex-direction: column;
 		justify-content: center;
  		padding: 1rem 0rem 1rem 0rem;
 	}
 	.customisedHeight > div{
		padding-bottom: 2rem;
 	}
}


@media(max-width:530px){
 	section.people{
 		padding-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
 	section.people > div{
 		padding-bottom: 30px;
 		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.head h1{
		font-size: 2rem;
	}
	.head p{
		font-size: 1rem;
	}

	.imgBox img{
		width: 320px;
		height: 200px;
	}
	.imgBox{
		width: 320px;
		height: 200px;
	}
	.gallery{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 430px;
	}
	.bg div{
		padding: 0rem 1rem 0rem 1rem;
	}

	.bg p:nth-child(1){
		font-size: 1.5rem;
		padding-bottom: 1rem;
		color: var(--white);
	}
}





