:root{
	--white: #fff;
	--light:#f6f7fa;
	--grey:#959595;
	--dark:#222626;
	--green: #82ca9c;
	--darkBlue: #192431;
	--darkText:#57697f;
	--violet:#bd8cbf;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

header{
	height: 950px;
	background: url('img/bg.png');

}

header, #midSection{	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#logo{
	padding-top: 55px;
}

.picture_perfect{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 840px;
}
.picture_perfect_center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.picture_perfect img{
	width: 100%;
	transform: translateY(160px);
}

#midSection{
	height: 875px;
	background: url('img/footer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.default_width{
	max-width: 1230px; 
	margin: 0 auto;
}

.block{
	max-width: 570px;
	min-height: 340px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.block_p{
	padding-top: 8rem;
}

.firstBlock{
	min-height: 540px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.gallery{
	min-height: 558px;
	max-width: 1460px;
	width: 100%;
	min-width: 400px;
	margin-left: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.grid1{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.img1:hover{
	 background: yellow;
	 transform: scale(1.1);
}

.img1{
	background-image: url(img/grid1.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 57px 0px 40px;
}

.img2{
	background-image: url(img/grid2.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 57px 0px 40px;
}

.img3{
	background-image: url(img/grid3.png);
	
}
.img4{
	background-image: url(img/grid4.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 57px 0px 40px;
}
.img5{
	background-image: url(img/grid5.png);
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
}
.img6{
	background-image: url(img/grid6.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 57px 0px 40px;
}
.img7{
	background-image: url(img/grid7.png);
	
}

.h1_padding{
	padding-top: 100px;
}


.boxWrap{
	min-height: 420px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.box{
	width: 270px;
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.car_section{
	min-height: 870px;
	max-height: 870px;
	max-width: 470px;
	color: var(--light);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.car_section p{
	padding: 50px 0 30px 0;
}

section#green{
	min-height: 537px;
	background: var(--green);
	
}
.greenBoxpadding{
	padding-top: 4rem;
}

.paddingGreen h2, h4, p{
	padding-bottom: 30px;
}

.greenBox {
	min-height: 537px;
	justify-content: space-around;
	color: var(--light);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.greenBox > div{
	max-width: 363px;
	min-height: 265px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#solo{
	background: var(--light);
}

.soloSection{
	min-height: 630px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.soloFirst{
	max-width: 410px;
	min-height: 380px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	
}

.soloSecond{
	max-width: 570px;
	min-height: 380px;
	padding: 47px 90px 55px 50px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	background: var(--white);
	-webkit-box-shadow: 2px 4px 30px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 4px 30px -7px rgba(0,0,0,0.75);
	box-shadow: 2px 4px 30px -7px rgba(0,0,0,0.75);
}

.soloSection p, h2, h3{
	padding-bottom: 30px;
}

button{
	width: 150px;
	height: 46px;
	background: var(--green);
	border: none;
	margin-bottom: 30px;
}

.btn_up{
	background: var(--violet);
	width: 75px;
	height: 25px;

}

footer{
	background: var(--darkBlue);
}

.footer_section{
	min-height: 605px;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footerFirst{
	max-width: 570px;
	min-height: 325px;
	color: var(--grey);
	
}

footer .resources{
	max-width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: var(--grey);
	justify-content: space-between;
}

footer .resources > div{
	width: 100px;
	min-height: 145px;
}

.footerSecond{
	width: 470px;
	min-height: 325px;
	color: var(--grey);
}

.footerSecond div{
	display: flex;
	flex-direction: row;
}

input{
	width: 100%;
	max-width: 400px;
	height: 55px;
}

.inputBg{
	max-width: 70px;
	height: 55px;
	background: var(--green);
	border: none;
}

@media(max-width:1140px){
	.picture_perfect img{
		max-width: 500px;
		margin-left: 250px;
	}
}

@media(max-width:700px){
	.gallery{
		display: grid;
		grid-template-columns: 1fr;
	}
	.picture_perfect img{
		display: none;
	}
	#container img{
		padding-left: 2rem;
	}
	.picture_perfect_center{
		padding-left: 2rem;
	}
}

@media(max-width:530px){
	.h1_padding{
		text-align: center;
	}

	.boxWrap{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.box h3{
		text-align: center;
	}
	.soloFirst{
		padding: 47px 90px 55px 50px;
	}
}

