:root{
	--darkblue: #67737a;
	--light: #ffffff;
	--footerb: #313454;
}

*{	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html, body{
	height: 100%;
}

body, h1, span, p{
	font-family: league-gothic, league gothic, sans-serif;
}

a{
	text-decoration: none;
	color: var(--light);
	font-size: 2vw;
}
h1{
	font-size: 3rem;
}

ul{
	padding: 2rem 0 2rem 1rem;
}

button{
	margin-bottom: 1rem;
	padding: 0.5rem 3rem;
	border:none;
	font-size: 1.3rem;
}

@keyframes slideRight{
	0% {right: -1000px;}
	100% {right: 0px;}
}


.container{
	height: 100%;
}

header{
	height: 100%;
}

/*--------------*/
nav {
	position: fixed;
	width: 100%;
	min-height: 80px;
	color: #fff;
	transition: all 1s; 
	background-color: transparent;
	z-index: 99999;
	-webkit-box-shadow: 0px 10px 11px -3px rgba(0,0,0,1);
	-moz-box-shadow: 0px 10px 11px -3px rgba(0,0,0,1);
	box-shadow: 0px 10px 11px -3px rgba(0,0,0,1);

}

.nav_container{

	width: 100%;
	display: flex;
	flex-direction: row;
}

nav div{
	display: flex;
	justify-content: flex-end;
	width: 20%;
	max-height: 80px;
}

nav div img{
	max-width: 150px;
	width: 100%;
	height: 100%;
	border-right: 1px solid #aaa;
}

.nav_container div:nth-child(2){
	width: 60%;
	display: flex;
	justify-content: flex-end;
	border-right: 1px solid #aaa;
}

.nav_container div li span{
	border: 2px solid #000;
	padding: 0.8rem;
}

.nav_container div ul{
	display: flex;
	direction: row;
	list-style-type: none;
	flex-wrap: wrap;
}

.nav_container div ul li{
	margin-right: 2rem;
}

.nav_container div:nth-child(3){
	width: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #aaa;
}

.nav_container div:nth-child(4){
	width: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*-------------*/

.bg img{
	position: absolute;
	width: 100%;
	height: 80%;
	object-fit: cover;

}
.bg .second, .third, .forth{
	display: none;
}

.panel-nav{
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	top:80%;

}

.panel-left{
	min-width: 70%;
	height: 100%;
}

.panel-right{
	min-width: 30%;
	height: 100%;
}

.panel-nav .fa-arrow-right {
	margin-left: 0.7rem;
	
}

.panel-left .for-int1{
	background: #5fa616;
	
}

.panel-left .for-int2{
	background: #f76800;

}

.panel-right .for-int3{
	background: #1b9edf;

}

.panel-right .for-int4{
	background: #d40073;

}

.align{
	display: flex;
	align-items: center;
	height: 50%;
	padding-left: 2rem; 
}

section.solutions{
	width: 100%;
}

section.solutions h1{
	padding: 2rem 2rem;
	text-align: center;
}

.solution-first-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;	
}

section.solutions .solution-first-row  > div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 2%;
}

section.solutions img{
	max-width: 100px;
	max-height: 100px;
}

.solution-first-row p{
	max-width: 300px;
}

.solution-first-row span{
	padding: 1rem 2rem;
}

/*------------*/
section.middle{
	width: 100%;
	padding: 5rem 1.5rem;

}

section.middle .shippers{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

section.middle .shippers img{
	margin-right: 5rem; 
	width: 100%;
	height: 100%;
	max-width: 70vh;
	max-height: 70vh;

}

/*----------*/
section.middle{
	width: 100%;
}
section.middle .forwarders{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

section.middle .forwarders img{
	width: 100%;
	height: 100%;
	max-width: 70vh;
	max-height: 70vh;
}

section.middle .forwarders div:nth-child(1){
	
padding-left: 5rem;
}

section .numbers{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

section .numbers img{
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	padding-bottom: 1rem; 

}

section.number h2{
	padding-bottom: 3rem; 
	text-align: center;
}


section.number {
	text-align: center;
}

/*--------*/

section.where{
	width: 100%;
	padding: 6rem 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}


section.where img{
	width: 100%;
	height: 100%;
	max-width: 60%;
	max-height: 800px;
}

section.where div{

	padding: 2rem 5rem;

}

.opacity{
	color: #000;
	background-color: #fff; 
	transition: all 1s; 
	-webkit-box-shadow: 0px 10px 11px -200px rgba(0,0,0,1);
	-moz-box-shadow: 0px 10px 11px -200px rgba(0,0,0,1);
	box-shadow: 0px 10px 11px -200px rgba(0,0,0,1);
}

.position_slide_menu ul li {
	padding: 0.7rem;
	list-style:none;
}

.position_slide_menu ul li:nth-child(1), ul li:nth-child(5), ul li:nth-child(9), ul li:nth-child(13) {
	border-bottom: 1px solid grey;
}

.position_slide_menu .fa-arrow-right{
	margin-left: 1rem;
	color: green;
}

.position_slide_menu{
	z-index: 999;
	top:11%;
	height:100%;
	width: 100%;
    max-width: 450px;
    background-color: #fff;
    position: fixed;
    overflow:scroll;
    display: none;
    right: -2000px;
	animation: slideRight 0.5s ease-out 0.1s forwards;
}

.footersec{
	min-height: 70px;
	background: var(--footerb);
}

.footersect{
	text-align: center;
	min-height: 35px;
	max-width: 290px;
	font-size: 14px;
}

.footersec .footersect p{
	color: var(--light);
}

.flexcs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*-----------media---------------*/

@media(max-width:1130px){
	section.where img{
		max-width: 100%;
		max-height: 800px;
	}
}

@media(max-width:980px){
	section.middle .shippers{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	section.middle .forwarders{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}	
	section.middle .shippers img{
		margin-right: 0rem; 
	}
	section.middle .forwarders div:nth-child(1){
		padding-left: 0rem;
	}

}

@media(max-width:700px){
	nav .nav_container div ul{
		display: none;
	}
	nav .nav_container div:nth-child(3){
		display: none;
	}
	section.where{
		width: 100%;
		padding: 0rem;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}


